# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/
node_modules/
alembic/

# Local secrets
.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
test-results/

# Render / Deployment
*.pid
*.seed
*.bak
