crefi
uliweb-alembic
fastapi==0.116.1
uvicorn==0.35.0
httpx==0.28.1
jinja2==3.1.6
requests==2.32.5
pytest==8.4.2
alembic==1.13.0         ## migration tool
psycopg[binary]==3.2.10  ## the synchronous PostgreSQL driver Alembic uses
python-dotenv==1.1.1
sqlalchemy==2.0.43
asyncpg>=0.27.0
SQLAlchemy>=2.0
aiosqlite>=0.18
pytest-asyncio==1.2.0
